<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.startmemoproject.mbs.mapper.MemoMapper">

<!-- 메모 리스트 가져오기 -->
<select id="memoList" resultType="Memo">
	SELECT *
	FROM memo
	ORDER BY no DESC
</select>

<!-- 메모 상세보기 -->
<select id="getMemo" resultType="Memo">
	SELECT *
	FROM memo
	WHERE no = #{no}
</select>

<!-- 메모 작성하기 -->
<insert id="insertMemo" parameterType="Memo" useGeneratedKeys="true" keyProperty="no">
	INSERT INTO memo(title, writer, content, reg_date, read_count, pass, file1)
	VALUES(#{title}, #{writer}, #{content}, SYSDATE(), #{readCount}, #{pass}, #{file1})
</insert>

<!-- 수정하거나 삭제 시, 비밀번호 확인 -->
<select id="isPassCheck">
	 SELECT pass
	 FROM memo
	 WHERE no = #{no}
</select> 

<update id="updateMemo" parameterType="Memo">
	UPDATE memo
	SET title = #{title}, content = #{content}, reg_date = SYSDATE()
	WHERE no = #{no}
</update>

<delete id="deleteMemo">
	DELETE 
	FROM memo
	WHERE no = #{no}
</delete>

</mapper>